
.body { 
  margin : 0;
  padding: 0;
  background-color: cornflowerblue;
  font-family: 'Times New Roman', Times, serif;
}

.header{
  background-color: #333;
  color: #fff;
  padding: 20 px;
  text-align: center;
}

.button {
  background-color: aqua;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
}
.div{
  background-color: yellowgreen;
}
.footer {
  background-color: blue;
  padding: 2 rem;
  text-align: center;
  color: antiquewhite;
}

.button:hover {
  background-color: blueviolet;
}